{% extends 'base.html' %}


{% block title %}
    Register
{% endblock title %}
    
{% block content %}
<style>
    input{
        border-radius: 20px;
        padding: 10px;
        border: 1px solid #2f3640;
        width: 200px;
        box-shadow: inset 0 0 1em #4cd137;
    }
    input:hover{
        box-shadow: inset 0 0 1em #44bd32;
    }
    button{
        border-radius: 20px;
        border: 1px solid #2f3640;
        width: 100px;
        height: 50px;
        box-shadow: inset 0 0 2em #4cd137;
        font-weight: bold;
    }
    button:hover{
        cursor: pointer;
        box-shadow: inset 0 0 2em #44bd32;
    }
    .form-div{
        background-color: #fbc531;
        width: 400px;
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: 10px 5px 5px #dcdde1;
    }
</style>
<div class="content">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-div">
            <div>
                <h2>{{form.username.label}}</h2>
                <p>{{form.username}}</p>
            </div>
            <div>
                <h2>{{form.email.label}}</h2>
                <p>{{form.email}}</p>
            </div>
            <div>
                <h2>{{form.password1.label}}</h2>
                <p>{{form.password1}}</p>
            </div>
            <div>
                <h2>{{form.password2.label}}</h2>
                <p>{{form.password2}}</p>
            </div><br>
            <div>
                <button type='submit'>Create Account</button>
            </div>
            <div>
                {{form.errors}}
            </div>
            <div>
                <p>Already have an account? <a href="{% url 'User:login_user' %}">Sign In</a></p>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
    